extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class='grid-container')
    div
        div(class='card')
    div
        div(class='card')
    div
        div(class='card')

  div 4
  div 5
