doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Presidentielle 2022
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/scripts.js')
  body
    div(class='header')
      div(class='title')
          h1 Presidentielle 2022
    block content

footer(class='footer')
    div(style='margin:auto; width:10%; padding-top:15px')
        span all copyright